<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Data Science Tools and Ecosystem #

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- Some of the popular languages that Data Scientists use
- Some of the commonly used libraries used by Data Scientists 
- Arithmetic expression in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Scala
5. Java
6. PHP
7. Go

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. R 
3. Anaconda
4. Apache Spark
5. PyTorch

| Data Science Tools |
|---|
| MySQL |
| MongoDB |
| Apache |
| Hadoop |
| Spark |

## Below are a few examples of evaluating arithmetic expressions in Python ##

In [18]:
##This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [19]:
#This will convert 200 minutes to hours by diving by 60
200//60

3

## Author ## 
Nguyen Trong-Trung